<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="./style.css">
  <title data-i18n="[text]{{keyRoot}}.Name" data-i18n-default-value="{{name}}"></title>
</head>
<body>
  <main>
    <h1 data-i18n="[text]{{keyRoot}}.Detail.Title" data-i18n-default-value="{{name}}"></h1>
    <p class="label" data-i18n="[text]{{keyRoot}}.Detail.Query" data-i18n-default-value="Current query"></p>
    <p id="query"></p>
  </main>
  <script src="./main.js"></script>
</body>
</html>
