{
  "{{keyRoot}}.Name": {{{nameJson}}},
  "{{keyRoot}}.Result.Subtitle": {{{subtitleJson}}}{{#customUi}},
  "{{keyRoot}}.Detail.Title": {{{nameJson}}},
  "{{keyRoot}}.Detail.Query": "Current query",
  "{{keyRoot}}.Detail.Ready": "Ready"{{/customUi}}
}
