{
  "{{keyRoot}}.Name": {{{nameJson}}},
  "{{keyRoot}}.Result.Subtitle": "由 MyTools 创建插件生成"{{#customUi}},
  "{{keyRoot}}.Detail.Title": {{{nameJson}}},
  "{{keyRoot}}.Detail.Query": "当前查询",
  "{{keyRoot}}.Detail.Ready": "就绪"{{/customUi}}
}
