<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <ApplicationRevision>1</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>true</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebApplication>false</CreateWebApplication>
    <CreateWebApplicationOnPublish>false</CreateWebApplicationOnPublish>
    <GenerateManifests>false</GenerateManifests>
    <Install>false</Install>
    <IsRevisionIncremented>true</IsRevisionIncremented>
    <IsWebBootstrapper>false</IsWebBootstrapper>
    <ManifestCertificateThumbprint></ManifestCertificateThumbprint>
    <MapFileExtensions>true</MapFileExtensions>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <SignManifests>false</SignManifests>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>false</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>false</UpdateRequired>
    <WebPage>Default.htm</WebPage>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishTrimmed>true</PublishTrimmed>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <DebugType>embedded</DebugType>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
  </PropertyGroup>
</Project> 